# Using SQLite in Python

In [1]:
import sqlite3

print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.40.1

In [2]:
# Open or create database file
db = sqlite3.connect('./data/mydata.db')

In [3]:
# Create a cursor to execute SQL statements
cursor = db.cursor()

## Create a table

In [4]:
cursor.execute('''CREATE TABLE IF NOT EXISTS projects(id INTEGER PRIMARY KEY, 
                   name TEXT, price TEXT, date TEXT)
''')
db.commit()

## Insert data into the database

In [5]:
cursor.execute('''INSERT INTO projects values (1, 'Custom CRM development', 350.00, 2023-02-01)
''')
cursor.execute('''INSERT INTO projects values (2, 'IoT Platform development', 1200.00, 2023-02-13)
''')
cursor.execute('''INSERT INTO projects values (3, 'Remote temperature measurement solution', 1100.00, 2023-02-14)
''')

# Saves all transactions to the database since the last COMMIT 
db.commit()

In [6]:
# Return a list of tuples
projects_lst = cursor.execute('''select * from projects;''').fetchall()

db.commit()
print(projects_lst)

[(1, 'Custom CRM development', '350.0', '2020'), (2, 'IoT Platform development', '1200.0', '2008'), (3, 'Remote temperature measurement solution', '1100.0', '2007')]

## Updte a value from a record

In [7]:
cursor.execute('''UPDATE projects set price=3500.0 WHERE id=1;''')
projects_lst = cursor.execute('''select * from projects;''').fetchall()

db.commit()
print(projects_lst)

[(1, 'Custom CRM development', '3500.0', '2020'), (2, 'IoT Platform development', '1200.0', '2008'), (3, 'Remote temperature measurement solution', '1100.0', '2007')]

## Delete a record

In [8]:
cursor.execute('''DELETE from projects WHERE id=1;''')
projects_lst = cursor.execute('''select * from projects;''').fetchall()

db.commit()
print(projects_lst)

[(2, 'IoT Platform development', '1200.0', '2008'), (3, 'Remote temperature measurement solution', '1100.0', '2007')]

# Convert SQLite query results to pandas dataframe

In [9]:
import pandas as pd

projects_df = pd.read_sql_query("SELECT * FROM projects", db)
projects_df.head()

   id                                     name   price  date
0   2                 IoT Platform development  1200.0  2008
1   3  Remote temperature measurement solution  1100.0  2007

In [10]:
# Drop the table since we are done
cursor.execute('''DROP TABLE projects''')
db.commit()

In [11]:
projects_lst = cursor.execute('''select * from projects;''').fetchall()
db.commit()

OperationalError: no such table: projects

In [12]:
cursor.close()
db.close()